:root {
    --cor-um: #5300c8;
    --cor-dois: #03318c;
    --cor-tres: #FFFFFF;
    --cor-quatro: #aaa7a7;
    --cor-cinco: #000000;

    --fonte-principal: "Press Start 2P", system-ui;
    --fonte-secundaria: "IBM Plex Mono", system-ui;
}

.cabecalho {
    background-color: var(--cor-um);
}

.cabecalho__logo {
    width: 374px;
    height: 56px;
}

.titulo {
    font-family: var(--fonte-principal);
    font-size: 1.5rem;
}

.mostruario__itens {
    border-radius: 10px;
    box-shadow:-5px 5px 3px  var(--cor-quatro);

}

.mostruario__itens__card {
    font-family: var(--fonte-secundaria);
    color: var(--cor-tres);
    background-color: var(--cor-um);
    border: solid var(--cor-cinco) 3px;
    border-radius: 10px;
}

.card__imagens {
    width: 10rem;
    height: 10rem;
    border-radius: 5px;
}

.card__lixo {
    background-image: url("../img/lixo.png");
    height: 1rem;
    filter: invert(100%);
}

.formulario__campo {
    width: 100%;
    height: 3rem;
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
    border: solid var(--cor-dois) 1px;
    border-radius: 100px;
}

.formulario__botoes {
    font-family: var(--fonte-secundaria);
    font-size: 1.25rem;
    width: 20rem;
    height: 4rem;
}

.formulario__botoes__guardar {
    width: 50%;
    background-color: var(--cor-dois);
    color: var(--cor-tres);
    border: solid var(--cor-dois) 1px;
    border-radius: 20px;
}

.formulario__botoes__limpar {
    width: 50%;
    border: solid var(--cor-dois) 1px;
    border-radius: 20px;
}


.rodape {
    background-color: var(--cor-um);
    font-family: var(--fonte-secundaria);
    font-size: 1rem;
}